<!--FOOTER-->
<footer class="site-footer">
    <div class="inner">
        <!--***-->
        <div class="footer-contacts">
            <span class="footer-title">Крым-Сочи.РФ</span>
            <p><span class="phone">+7 812647-08-06</span>Санкт-Петербург</p>
            <p><span class="phone">+7 495640-49-13</span>Москва</p>
            <p><span class="phone">8 800555-99-65</span>Россия (звонок бесплатный)</p>
            <span class="copyrights">2015 &copy; Крым-Сочи.рф  Все права защищены</span>
        </div>
        <!--***-->
        <div class="footer-links">
            <div class="col">
                <span class="footer-title">О компании</span>
                <ul>
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footer-title">Пользователям</span>
                <ul>
                    <li><a href="#">Как мы работаем</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footer-title">Партнерам</span>
                <ul>
                    <li><a href="#">Регистрация</a></li>
                    <li><a href="#">Вход в личный кабинет</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="footer-title">Мы в соцсетях</span>
                <a href="#" class="social-link"><img src="img/soc-vk.png" alt=""></a>
                <a href="#" class="social-link"><img src="img/soc-ok.png" alt=""></a>
            </div>
        </div>
        <!--***-->
    </div>
</footer>
<!--/FOOTER-->

</div>
        <script src="js/main.js"></script>

    </body>
</html>