<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INDEX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,500,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_stage_3.css">
    <link rel="stylesheet" href="css/style-a.css">
</head>
<body>
<div class="wrapper">
<!--HEADER-->
<header class="site-header">
    <div class="inner">
        <!--***-->
        <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>
        <!--***-->
        <span class="slogan">Поиск и бронирование<br>отелей, хостелов и апартаментов</span>
        <!--***-->
        <span class="header-phone">+7 812 647-08-06 </span>
        <!--***-->
        <div class="user-city-select"><span class="user-city-label">Ваш город:</span><a href="#" class="user-city-link">Санкт-Петербург</a></div>
        <!--***-->
    </div>
</header>
<!--/HEADER-->

<!--NAVIGATION-->
<nav class="site-nav">
    <span class="site-nav-label">Меню</span>
    <ul>
        <li><a href="#">Путеводитель</a></li>
        <li><a href="#"><img class="site-nav-ico" src="img/nav-avia-ico.png" alt="">Авиабилеты</a></li>
        <li><a href="#"><img class="site-nav-ico" src="img/nav-train-ico.png" alt="">Ж/д билеты</a></li>
        <li><a href="#"><img class="site-nav-ico" src="img/nav-ferry-ico.png" alt="">Паром</a></li>
        <li><a href="#">Аренда авто</a></li>
        <li><a href="#">Отзывы</a></li>
    </ul>
</nav>
<!--/NAVIGATION-->

<!--BREADCRUMBS-->
<div class="breadcrumbs">
    <div class="inner">
        <a href="#">Главная</a><i class="sep">/</i><span class="current">Города</span>
    </div>
</div>
<!--BREADCRUMBS-->
