/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$articles-nav-li-name: 'articles-nav-li';
$articles-nav-li-x: 30px;
$articles-nav-li-y: 0px;
$articles-nav-li-offset-x: -30px;
$articles-nav-li-offset-y: 0px;
$articles-nav-li-width: 6px;
$articles-nav-li-height: 10px;
$articles-nav-li-total-width: 36px;
$articles-nav-li-total-height: 23px;
$articles-nav-li-image: '../images/sprite.png';
$articles-nav-li: (30px, 0px, -30px, 0px, 6px, 10px, 36px, 23px, '../images/sprite.png', 'articles-nav-li', );
$port-aroww-name: 'port-aroww';
$port-aroww-x: 0px;
$port-aroww-y: 0px;
$port-aroww-offset-x: 0px;
$port-aroww-offset-y: 0px;
$port-aroww-width: 30px;
$port-aroww-height: 23px;
$port-aroww-total-width: 36px;
$port-aroww-total-height: 23px;
$port-aroww-image: '../images/sprite.png';
$port-aroww: (0px, 0px, 0px, 0px, 30px, 23px, 36px, 23px, '../images/sprite.png', 'port-aroww', );
$spritesheet-width: 36px;
$spritesheet-height: 23px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($articles-nav-li, $port-aroww, );
$spritesheet: (36px, 23px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
